.content-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background-color: white;
  position: relative;
  top: 180px;
  padding: 20px;
  margin-left: 180px;
}

.business-form {
  background-color: #f1f1f1;
  padding: 30px;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.business-form h2 {
  text-align: center;
  color: #11131f;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  background-color: #11131f;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #222645;
}

.image-preview {
  margin-top: 10px;
  text-align: center;
}

.image-preview img {
  max-width: 150px;
  height: auto;
  border-radius: 5px;
  border: 1px solid #ccc;
}
